# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


*.exe
*.bin
*.dll
*.obj
*.pdb
*.ipch
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate
*.manifest
*.user
*.suo
*.sdf
*.opensdf

*~
*.swp
Debug/
Packaging/*
BH/Release/*
Release/*
/.vs/*
/BH.VC.db
/out/*
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-c9532364bd66042bf0b6.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3553f6292c7623217499.json
build/.cmake/api/v1/reply/codemodel-v2-26f9765cb133de4c2e0f.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-BH-Debug-662cb44f8a9b717b82c8.json
build/.cmake/api/v1/reply/directory-BH-MinSizeRel-662cb44f8a9b717b82c8.json
build/.cmake/api/v1/reply/directory-BH-Release-662cb44f8a9b717b82c8.json
build/.cmake/api/v1/reply/directory-BH-RelWithDebInfo-662cb44f8a9b717b82c8.json
build/.cmake/api/v1/reply/index-2025-12-31T15-15-11-0504.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-1ed0631664cf49213540.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-c85fb48a0fa18f517e69.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-1ed0631664cf49213540.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-c85fb48a0fa18f517e69.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-1ed0631664cf49213540.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-c85fb48a0fa18f517e69.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-1ed0631664cf49213540.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-c85fb48a0fa18f517e69.json
build/.cmake/api/v1/reply/target-BH-Debug-9efa2e8c38eb1acdad89.json
build/.cmake/api/v1/reply/target-BH-MinSizeRel-251386d3831a42c58f4f.json
build/.cmake/api/v1/reply/target-BH-Release-4a9cd71782bc3126066f.json
build/.cmake/api/v1/reply/target-BH-RelWithDebInfo-b910f242a08aa45f3652.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-79c56528d8f1963d6db8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-79c56528d8f1963d6db8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-79c56528d8f1963d6db8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-79c56528d8f1963d6db8.json
build/.cmake/api/v1/reply/toolchains-v1-9d0542231348c7453f85.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/BH/ALL_BUILD.vcxproj
build/BH/ALL_BUILD.vcxproj.filters
build/BH/BH.sln
build/BH/BH.vcxproj
build/BH/BH.vcxproj.filters
build/BH/cmake_install.cmake
build/BH/CMakeFiles/generate.stamp
build/BH/CMakeFiles/generate.stamp.depend
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/085513886fc2a116728b2702f4ab01c1/generate.stamp.rule
build/CMakeFiles/3.29.2/CMakeCCompiler.cmake
build/CMakeFiles/3.29.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.2/CMakeSystem.cmake
build/CMakeFiles/3.29.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.29.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.29.2/VCTargetsPath.txt
build/CMakeFiles/3.29.2/VCTargetsPath.vcxproj
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Project.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
.vscode/settings.json
build/.cmake/api/v1/reply/codemodel-v2-9f884fcf31a93cfb964f.json
build/.cmake/api/v1/reply/index-2026-01-02T01-35-10-0694.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-650518b75aa3b6ba2941.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-db1b5db3314dddfd966d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-650518b75aa3b6ba2941.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-db1b5db3314dddfd966d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-650518b75aa3b6ba2941.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-db1b5db3314dddfd966d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-650518b75aa3b6ba2941.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-db1b5db3314dddfd966d.json
build/.cmake/api/v1/reply/index-2026-01-02T02-16-40-0798.json
